<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-container>
          <v-card
            class="mx-auto"
            outlined
          >
            <v-card-text>
              <p>
                This is the Animal Crossing: New Horizons complete critters list. All data are sourced from the <a href="https://animalcrossing.fandom.com/wiki/Animal_Crossing_Wiki">Fandom Wiki</a>
              </p>
            </v-card-text>
          </v-card>
        </v-container>

        <v-spacer></v-spacer>

        <v-container>
          <v-card
            class="mx-auto"
            max-width="344"
            outlined
          >
            <v-card-text>
              <div class="headline mb-1">Controls</div>
              <p>
              Current time: <strong>{{ now | time_normalized }}</strong>
              <br/>
              Current month: <strong>{{ now | month_name }}</strong>
              </p>

              <v-row justify="space-around">
                <v-checkbox
                  v-model="toggle_hemisphere"
                  class="mx-2"
                  label="Northern"
                  value="N"
                ></v-checkbox>
                <v-checkbox
                  v-model="toggle_hemisphere"
                  class="mx-2"
                  label="Southern"
                  value="S"
                ></v-checkbox>
              </v-row>

              <v-row align="center">
                <v-checkbox
                  v-model="toggle_lookup_time"
                  hide-details
                  class="shrink mr-2 mt-0"
                ></v-checkbox>
                <v-text-field
                  v-model="lookup_time_input"
                  :disabled="!toggle_lookup_time"
                  prepend-icon="mdi-clock"
                  label="Lookup Time"
                  type="time"
                  hint="Filter list by lookup time"
                  persistent-hint
                >
                </v-text-field>
              </v-row>

            </v-card-text>
          </v-card>
        </v-container>

        <v-container>
          <v-toolbar flat color="primary" dark>
            <v-toolbar-title>Critters</v-toolbar-title>
          </v-toolbar>
          <v-tabs
            v-model="tab"
            background-color="primary"
            vertical
            dark
          >

            <v-tab key="filtered_fish_tab">
              <v-icon left>mdi-fish</v-icon>
              <v-icon left>mdi-clock</v-icon>
            </v-tab>
            <v-tab key="this_month_fish_tab">
              <v-icon left>mdi-fish</v-icon>
              <v-icon left>mdi-calendar</v-icon>
            </v-tab>
            <v-tab key="outgoing_fish_tab">
              <v-icon left>mdi-fish</v-icon>
              <v-icon left>mdi-arrow-right-bold</v-icon>
            </v-tab>
            <v-tab key="incoming_fish_tab">
              <v-icon left>mdi-fish</v-icon>
              <v-icon left>mdi-arrow-left-bold</v-icon>
            </v-tab>
            <v-tab key="fish_tab">
              <v-icon left>mdi-fish</v-icon>
            </v-tab>

            <v-tab key="filtered_bug_tab">
              <v-icon left>mdi-bug</v-icon>
              <v-icon left>mdi-clock</v-icon>
            </v-tab>
            <v-tab key="this_month_bug_tab">
              <v-icon left>mdi-bug</v-icon>
              <v-icon left>mdi-calendar</v-icon>
            </v-tab>
            <v-tab key="outgoing_bug_tab">
              <v-icon left>mdi-bug</v-icon>
              <v-icon left>mdi-arrow-right-bold</v-icon>
            </v-tab>
            <v-tab key="incoming_bug_tab">
              <v-icon left>mdi-bug</v-icon>
              <v-icon left>mdi-arrow-left-bold</v-icon>
            </v-tab>
            <v-tab key="bug_tab">
              <v-icon left>mdi-bug</v-icon>
            </v-tab>

            <v-tab key="help_tab">
              <v-icon left>mdi-help</v-icon>
            </v-tab>

            <v-tab-item key="filtered_fish_tab">
              <v-card>
                <v-card-text>
                  <div class="display-1 text--primary">Current Hour Fish List</div>
                </v-card-text>
                <v-data-table
                  :headers="fish_headers"
                  :items="current_hour_fish_data"
                  class="elevation-1"
                  disable-pagination
                  hide-default-footer
                  show-group-by
                ></v-data-table>
              </v-card>
            </v-tab-item>

            <v-tab-item key="this_month_fish_tab">
              <v-card>
                <v-card-text>
                  <div class="display-1 text--primary">This Month Fish List</div>
                </v-card-text>
                <v-data-table
                  :headers="fish_headers"
                  :items="this_month_fish_data"
                  class="elevation-1"
                  disable-pagination
                  hide-default-footer
                  show-group-by
                ></v-data-table>
              </v-card>
            </v-tab-item>

            <v-tab-item key="outgoing_fish_tab">
              <v-card>
                <v-card-text>
                  <div class="display-1 text--primary">Outgoing Fish List</div>
                </v-card-text>
                <v-data-table
                  :headers="fish_headers"
                  :items="outgoing_fish_data"
                  class="elevation-1"
                  disable-pagination
                  hide-default-footer
                ></v-data-table>
              </v-card>
            </v-tab-item>

            <v-tab-item key="incoming_fish_tab">
              <v-card>
                <v-card-text>
                  <div class="display-1 text--primary">Incoming Fish List</div>
                </v-card-text>
                <v-data-table
                  :headers="fish_headers"
                  :items="incoming_fish_data"
                  class="elevation-1"
                  disable-pagination
                  hide-default-footer
                ></v-data-table>
              </v-card>
            </v-tab-item>

            <v-tab-item key="fish_tab">
              <v-card>
                <v-card-text>
                  <div class="display-1 text--primary">Complete Fish List</div>
                </v-card-text>
                <v-data-table
                  :headers="fish_headers"
                  :items="fish_data"
                  class="elevation-1"
                  disable-pagination
                  hide-default-footer
                ></v-data-table>
              </v-card>
            </v-tab-item>

            <v-tab-item key="filtered_bug_tab">
              <v-card>
                <v-card-text>
                  <div class="display-1 text--primary">Current Hour Bug List</div>
                </v-card-text>
                <v-data-table
                  :headers="bug_headers"
                  :items="current_hour_bug_data"
                  class="elevation-1"
                  disable-pagination
                  hide-default-footer
                  show-group-by
                ></v-data-table>
              </v-card>
            </v-tab-item>

            <v-tab-item key="this_month_bug_tab">
              <v-card>
                <v-card-text>
                  <div class="display-1 text--primary">This Month Fish List</div>
                </v-card-text>
                <v-data-table
                  :headers="bug_headers"
                  :items="this_month_bug_data"
                  class="elevation-1"
                  disable-pagination
                  hide-default-footer
                  show-group-by
                ></v-data-table>
              </v-card>
            </v-tab-item>

            <v-tab-item key="outgoing_bug_tab">
              <v-card>
                <v-card-text>
                  <div class="display-1 text--primary">Outgoing Bug List</div>
                </v-card-text>
                <v-data-table
                  :headers="bug_headers"
                  :items="outgoing_bug_data"
                  class="elevation-1"
                  disable-pagination
                  hide-default-footer
                ></v-data-table>
              </v-card>
            </v-tab-item>

            <v-tab-item key="incoming_bug_tab">
              <v-card>
                <v-card-text>
                  <div class="display-1 text--primary">Incoming Bug List</div>
                </v-card-text>
                <v-data-table
                  :headers="bug_headers"
                  :items="incoming_bug_data"
                  class="elevation-1"
                  disable-pagination
                  hide-default-footer
                ></v-data-table>
              </v-card>
            </v-tab-item>

            <v-tab-item key="bug_tab">
              <v-card>
                <v-card-text>
                  <div class="display-1 text--primary">Complete Bug List</div>
                </v-card-text>
                <v-data-table
                  :headers="bug_headers"
                  :items="bug_data"
                  class="elevation-1"
                  disable-pagination
                  hide-default-footer
                ></v-data-table>
              </v-card>
            </v-tab-item>

            <v-tab-item key="help_tab">
              <v-card>
                <v-card-text>
                  <div class="display-1 text--primary">FAQ</div>
                </v-card-text>
                <v-container>
                  <v-row dense>
                    <v-col cols="12">
                      <v-card
                        color="#FFFAE5"
                      >
                        <v-card-title class="headline">What is this site about?</v-card-title>
                        <v-card-subtitle>
                          <p>When I first started playing AC:NH, I found myself frequently checking the <a href="https://animalcrossing.fandom.com/wiki/Fish_(New_Horizons)" target="_blank">Fandom fish list</a> at different times of the day to find out what kind of fishes I could get and sell at a good price.</p>
                          <p>The Fandom page was great, but it lacked certain filtering controls, eg. the current hour's list of fishes.</p>
                          <p>At first, I downloaded the HTML table, dumped the table on Coda.io, and added some filtering options eg. current time, and some grouping options eg. location + shadow size. The downside is that Coda.io loads quite slowly, and sometimes requires sign-in if my session expired.</p>
                          <p>The loading speed wasn't the problem, the main problem is the limited controls available for more views. For example, I needed to see what would be the fishes that would be gone in the next month, so that I could try to fish those that I've not donated to the museum ASAP. It wasn't trivial to create this view, because of the more complex checking logic on the available months.</p>
                          <p>Finally, I've had enough and decided to create a simple website like this one to fulfill all my needs.</p>
                        </v-card-subtitle>
                      </v-card>
                    </v-col>
                  </v-row>

                  <v-row dense>
                    <v-col cols="12">
                      <v-card
                        color="#FFFAE5"
                      >
                        <v-card-title class="headline">Where do you get your data from?</v-card-title>
                        <v-card-subtitle>
                          <p>As mentioned in the previous answer, I got my data from the <a href="https://animalcrossing.fandom.com/wiki/Fish_(New_Horizons)" target="_blank">Fandom fish list</a>. The bug list is also from <a href="https://animalcrossing.fandom.com/wiki/Bugs_(New_Horizons)" target="_blank">Fandom.</a></p>
                          <p>I downloaded the HTML source, normalized some values, eg. converting ✓ to a true value, then imported the normalized data into a Google Sheets. There, I exported the data into CSV format. With a Ruby script, I added the list of months and hours based on the raw data's month columns and time range for each critter, and finally combined both northern and southern hemisphere lists into a single JSON format.</p>
                        </v-card-subtitle>
                      </v-card>
                    </v-col>
                  </v-row>

                  <v-row dense>
                    <v-col cols="12">
                      <v-card
                        color="#FFFAE5"
                      >
                        <v-card-title class="headline">Which browsers are supported?</v-card-title>
                        <v-card-subtitle>
                          <p>This site has only been tested on Google Chrome (Version 81.0.4044.129). No guarantee that it will work on other browsers.</p>
                        </v-card-subtitle>
                      </v-card>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </v-tab-item>

          </v-tabs>
        </v-container>
      </v-content>
    </v-app>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="assets/javascripts/main.js"></script>
  <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
</body>
</html>
