<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-container>
          <v-card
            class="mx-auto"
            outlined
          >
            <v-card-text>
              <p>
              {{ message }}
              </p>
            </v-card-text>
          </v-card>
        </v-container>

        <v-spacer></v-spacer>

        <v-container>
          <v-card
            class="mx-auto"
            max-width="344"
            outlined
          >
            <v-card-text>
              <div class="headline mb-1">Controls</div>
              <p>
              Current time: <strong>{{ now | time_normalized }}</strong>
              <br/>
              Current month: <strong>{{ now | month_name }}</strong>
              </p>

              <v-row justify="space-around">
                <v-checkbox
                  v-model="toggle_hemisphere"
                  class="mx-2"
                  label="Northern"
                  value="N"
                ></v-checkbox>
                <v-checkbox
                  v-model="toggle_hemisphere"
                  class="mx-2"
                  label="Southern"
                  value="S"
                ></v-checkbox>
              </v-row>

              <v-row align="center">
                <v-checkbox
                  v-model="toggle_lookup_time"
                  hide-details
                  class="shrink mr-2 mt-0"
                ></v-checkbox>
                <v-text-field
                  v-model="lookup_time_input"
                  :disabled="!toggle_lookup_time"
                  prepend-icon="mdi-clock"
                  label="Lookup Time"
                  type="time"
                  hint="Filter list by lookup time"
                  persistent-hint
                >
                </v-text-field>
              </v-row>

              <v-row align="center">
                <v-checkbox
                  v-model="toggle_group_by"
                  hide-details
                  class="shrink mr-2 mt-0"
                ></v-checkbox>
                <v-select
                  v-model="group_by"
                  :disabled="!toggle_group_by"
                  :items="group_by_keys"
                  item-text="label"
                  item-value="val"
                  label="Group by"
                  return-object
                  hint="Group list by (Shadow size only for fish)"
                  persistent-hint
                ></v-select>
              </v-row>

            </v-card-text>
          </v-card>
        </v-container>

        <v-container>
          <v-toolbar flat color="primary" dark>
            <v-toolbar-title>Critters</v-toolbar-title>
          </v-toolbar>
          <v-tabs
            v-model="tab"
            background-color="primary"
            vertical
            dark
          >
            <v-tab key="fish_tab">
              <v-icon left>mdi-fish</v-icon>
            </v-tab>
            <v-tab key="filtered_fish_tab">
              <v-icon left>mdi-fish</v-icon>
              <v-icon left>mdi-filter</v-icon>
            </v-tab>
            <v-tab key="outgoing_fish_tab">
              <v-icon left>mdi-fish</v-icon>
              <v-icon left>mdi-arrow-right-bold</v-icon>
            </v-tab>
            <v-tab key="incoming_fish_tab">
              <v-icon left>mdi-fish</v-icon>
              <v-icon left>mdi-arrow-left-bold</v-icon>
            </v-tab>
            <v-tab key="bug_tab">
              <v-icon left>mdi-bug</v-icon>
            </v-tab>
            <v-tab key="filtered_bug_tab">
              <v-icon left>mdi-bug</v-icon>
              <v-icon left>mdi-filter</v-icon>
            </v-tab>
            <v-tab key="outgoing_bug_tab">
              <v-icon left>mdi-bug</v-icon>
              <v-icon left>mdi-arrow-right-bold</v-icon>
            </v-tab>
            <v-tab key="incoming_bug_tab">
              <v-icon left>mdi-bug</v-icon>
              <v-icon left>mdi-arrow-left-bold</v-icon>
            </v-tab>

            <v-tab-item key="fish_tab">
              <v-card>
                <v-card-text>
                  <div class="display-1 text--primary">Complete Fish List</div>
                </v-card-text>
                <v-data-table
                  :headers="fish_headers"
                  :items="fish_data"
                  class="elevation-1"
                  disable-pagination
                  hide-default-footer
                ></v-data-table>
              </v-card>
            </v-tab-item>

            <v-tab-item key="filtered_fish_tab">
              <v-card>
                <v-card-text>
                  <div class="display-1 text--primary">Filtered Fish List</div>
                </v-card-text>
                <v-data-table
                  :headers="fish_headers"
                  :items="filtered_fish_data"
                  :group-by="group_by.val"
                  class="elevation-1"
                  disable-pagination
                  hide-default-footer
                  show-group-by
                ></v-data-table>
              </v-card>
            </v-tab-item>

            <v-tab-item key="outgoing_fish_tab">
              <v-card>
                <v-card-text>
                  <div class="display-1 text--primary">Outgoing Fish List</div>
                </v-card-text>
                <v-data-table
                  :headers="fish_headers"
                  :items="outgoing_fish_data"
                  class="elevation-1"
                  disable-pagination
                  hide-default-footer
                ></v-data-table>
              </v-card>
            </v-tab-item>

            <v-tab-item key="incoming_fish_tab">
              <v-card>
                <v-card-text>
                  <div class="display-1 text--primary">Incoming Fish List</div>
                </v-card-text>
                <v-data-table
                  :headers="fish_headers"
                  :items="incoming_fish_data"
                  class="elevation-1"
                  disable-pagination
                  hide-default-footer
                ></v-data-table>
              </v-card>
            </v-tab-item>

            <v-tab-item key="bug_tab">
              <v-card>
                <v-card-text>
                  <div class="display-1 text--primary">Complete Bug List</div>
                </v-card-text>
                <v-data-table
                  :headers="bug_headers"
                  :items="bug_data"
                  class="elevation-1"
                  disable-pagination
                  hide-default-footer
                ></v-data-table>
              </v-card>
            </v-tab-item>

            <v-tab-item key="filtered_bug_tab">
              <v-card>
                <v-card-text>
                  <div class="display-1 text--primary">Filtered Bug List</div>
                </v-card-text>
                <v-data-table
                  :headers="bug_headers"
                  :items="filtered_bug_data"
                  :group-by="group_by.val"
                  class="elevation-1"
                  disable-pagination
                  hide-default-footer
                  show-group-by
                ></v-data-table>
              </v-card>
            </v-tab-item>

            <v-tab-item key="outgoing_bug_tab">
              <v-card>
                <v-card-text>
                  <div class="display-1 text--primary">Outgoing Bug List</div>
                </v-card-text>
                <v-data-table
                  :headers="bug_headers"
                  :items="outgoing_bug_data"
                  class="elevation-1"
                  disable-pagination
                  hide-default-footer
                ></v-data-table>
              </v-card>
            </v-tab-item>

            <v-tab-item key="incoming_bug_tab">
              <v-card>
                <v-card-text>
                  <div class="display-1 text--primary">Incoming Bug List</div>
                </v-card-text>
                <v-data-table
                  :headers="bug_headers"
                  :items="incoming_bug_data"
                  class="elevation-1"
                  disable-pagination
                  hide-default-footer
                ></v-data-table>
              </v-card>
            </v-tab-item>

          </v-tabs>
        </v-container>
      </v-content>
    </v-app>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="assets/javascripts/main.js"></script>
  <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
</body>
</html>
